In [71]:
import pandas as pd
# df = pd.read_csv('Results_21Mar2022 (1).csv',index_col=[1,21,22,23])
df = pd.read_csv('Results_21Mar2022 (1).csv')
df

,mc_run_id,grouping,mean_ghgs,mean_land,mean_watscar,mean_eut,mean_ghgs_ch4,mean_ghgs_n2o,mean_bio,mean_watuse,...,sd_eut,sd_ghgs_ch4,sd_ghgs_n2o,sd_bio,sd_watuse,sd_acid,n_participants,sex,diet_group,age_group
0,1,fish_female_20-29,5.421821,8.612772,14165.86240,23.945372,1.164643,0.343663,476.270413,679.923479,...,8.167013,0.632547,0.146827,283.883428,249.472563,8.231176,1329,female,fish,20-29
1,1,fish_female_30-39,5.436673,8.680248,15222.77063,24.305262,1.154118,0.326868,467.923201,709.343785,...,8.467858,0.601941,0.130298,270.247108,277.927269,7.947014,2024,female,fish,30-39
2,1,fish_female_40-49,5.289333,8.467723,15818.80068,24.191105,1.108404,0.310324,438.659832,707.925368,...,8.107006,0.572941,0.119872,252.415063,275.760515,8.103589,1689,female,fish,40-49
3,1,fish_female_50-59,5.169020,8.219199,16962.06009,24.748154,1.032501,0.298130,395.787622,720.825105,...,9.514028,0.509689,0.104731,209.566722,310.422445,8.712428,946,female,fish,50-59
4,1,fish_female_60-69,5.380268,8.570718,18212.66232,25.559430,1.098828,0.310735,421.176867,749.392826,...,9.258068,0.609398,0.113401,264.599257,315.922570,8.616601,492,female,fish,60-69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71995,1000,veggie_male_30-39,6.615301,11.385959,13374.38105,18.283800,1.769398,0.482313,641.918305,560.925069,...,6.829520,1.524615,0.269856,610.318478,268.939576,8.510504,1221,male,veggie,30-39
71996,1000,veggie_male_40-49,6.185949,10.566347,12959.68443,17.342092,1.605406,0.446074,580.913591,527.860144,...,6.369390,1.430116,0.252651,570.034533,262.366892,7.988943,961,male,veggie,40-49
71997,1000,veggie_male_50-59,5.871454,9.806539,11924.19092,16.625511,1.468003,0.431966,533.784777,487.176818,...,6.266982,1.381163,0.274705,559.427383,241.645519,7.780208,426,male,veggie,50-59
71998,1000,veggie_male_60-69,5.922496,9.873027,11310.87733,16.531075,1.492114,0.437879,545.453273,487.030916,...,6.240777,1.435583,0.276000,582.000324,244.768887,7.779582,229,male,veggie,60-69
71999,1000,veggie_male_70-79,6.339353,10.383692,11259.04221,17.413847,1.644123,0.488487,609.164094,512.413437,...,6.959953,1.426388,0.329489,576.831592,246.024277,8.942247,158,male,veggie,70-79

In [72]:
df_1 = df.loc[df['mc_run_id']==1]
df_1.info()
label = df_1[['grouping','sex', 'diet_group', 'age_group']].copy()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 0 to 71
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mc_run_id       72 non-null     int64
 1   grouping        72 non-null     object
 2   mean_ghgs       72 non-null     float64
 3   mean_land       72 non-null     float64
 4   mean_watscar    72 non-null     float64
 5   mean_eut        72 non-null     float64
 6   mean_ghgs_ch4   72 non-null     float64
 7   mean_ghgs_n2o   72 non-null     float64
 8   mean_bio        72 non-null     float64
 9   mean_watuse     72 non-null     float64
 10  mean_acid       72 non-null     float64
 11  sd_ghgs         72 non-null     float64
 12  sd_land         72 non-null     float64
 13  sd_watscar      72 non-null     float64
 14  sd_eut          72 non-null     float64
 15  sd_ghgs_ch4     72 non-null     float64
 16  sd_ghgs_n2o     72 non-null     float64
 17  sd_bio          72 non-null     float64
 18  sd_watuse       72 non-null     float64
 19  sd_acid         72 non-null     float64
 20  n_participants  72 non-null     int64
 21  sex             72 non-null     object
 22  diet_group      72 non-null     object
 23  age_group       72 non-null     object
dtypes: float64(18), int64(2), object(4)
memory usage: 14.1+ KB

In [73]:
label

             grouping     sex diet_group age_group
0   fish_female_20-29  female       fish     20-29
1   fish_female_30-39  female       fish     30-39
2   fish_female_40-49  female       fish     40-49
3   fish_female_50-59  female       fish     50-59
4   fish_female_60-69  female       fish     60-69
..                ...     ...        ...       ...
67  veggie_male_30-39    male     veggie     30-39
68  veggie_male_40-49    male     veggie     40-49
69  veggie_male_50-59    male     veggie     50-59
70  veggie_male_60-69    male     veggie     60-69
71  veggie_male_70-79    male     veggie     70-79

[72 rows x 4 columns]

In [74]:
df.drop(columns=['sex','diet_group','age_group'],inplace=True)

In [75]:
df_mean = df.groupby('grouping').mean()

In [76]:
df_mean

,mc_run_id,mean_ghgs,mean_land,mean_watscar,mean_eut,mean_ghgs_ch4,mean_ghgs_n2o,mean_bio,mean_watuse,mean_acid,sd_ghgs,sd_land,sd_watscar,sd_eut,sd_ghgs_ch4,sd_ghgs_n2o,sd_bio,sd_watuse,sd_acid,n_participants
grouping,,,,,,,,,,,,,,,,,,,,
fish_female_20-29,500.5,4.902947,6.489031,17131.963352,20.985464,0.842864,0.322486,248.135212,759.237211,22.770956,1.819124,2.895212,7315.274034,7.189752,0.457345,0.134187,152.081144,353.395121,8.314474,1329.0
fish_female_30-39,500.5,4.942664,6.515886,17652.628540,20.948442,0.836500,0.321971,249.827684,759.629613,23.257771,1.727493,2.723231,7515.542350,6.925886,0.434478,0.126576,147.730751,350.984434,7.925312,2024.0
fish_female_40-49,500.5,4.927040,6.540682,17729.964756,20.713798,0.841106,0.320413,252.846922,748.488755,23.470170,1.732307,2.518288,7642.383968,6.733437,0.455165,0.128772,156.433538,350.627288,8.131584,1689.0
fish_female_50-59,500.5,4.944320,6.566172,18446.193259,20.989284,0.834881,0.323892,246.789912,788.932276,23.652474,1.851260,2.780671,8322.719017,7.751550,0.468678,0.129589,152.830237,420.222385,8.578845,946.0
fish_female_60-69,500.5,5.103823,6.866635,18922.366831,21.569322,0.879670,0.336023,258.645759,819.856604,24.455240,1.886936,2.941794,8307.791478,7.400676,0.486861,0.134746,163.020137,413.198002,8.663941,492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
veggie_male_30-39,500.5,4.807758,6.787163,16603.476202,18.988080,0.811991,0.316326,266.148897,594.307015,22.864091,1.906664,2.703825,8032.172974,6.677684,0.506769,0.137472,175.121990,267.344494,9.331239,1221.0
veggie_male_40-49,500.5,4.610379,6.610474,16477.661724,18.275813,0.764687,0.304605,251.351926,576.240665,21.866199,1.788238,2.749097,7881.819381,6.434835,0.474374,0.133076,163.537692,261.457254,8.565340,961.0
veggie_male_50-59,500.5,4.455095,6.522068,16333.409315,17.619071,0.733031,0.299523,244.248429,559.640001,21.186608,1.756344,2.913828,7826.715468,6.296666,0.469605,0.133225,162.816253,257.438657,8.310075,426.0
veggie_male_60-69,500.5,4.444844,6.628730,16725.207750,17.543012,0.738550,0.305724,248.603854,566.825960,21.321332,1.707170,2.701820,8429.038591,6.148243,0.463256,0.130636,164.801151,267.844203,8.227252,229.0
veggie_male_70-79,500.5,4.612451,6.842653,17972.881279,18.283813,0.794673,0.319633,259.421351,602.571533,22.133811,1.861528,2.704480,10261.231468,6.847723,0.499923,0.146075,176.067058,316.254523,8.917028,158.0

In [77]:
df_mean = pd.merge(df_mean,label,on='grouping',how='inner')

,grouping,mc_run_id,mean_ghgs,mean_land,mean_watscar,mean_eut,mean_ghgs_ch4,mean_ghgs_n2o,mean_bio,mean_watuse,...,sd_eut,sd_ghgs_ch4,sd_ghgs_n2o,sd_bio,sd_watuse,sd_acid,n_participants,sex,diet_group,age_group
0,fish_female_20-29,500.5,4.902947,6.489031,17131.963352,20.985464,0.842864,0.322486,248.135212,759.237211,...,7.189752,0.457345,0.134187,152.081144,353.395121,8.314474,1329.0,female,fish,20-29
1,fish_female_30-39,500.5,4.942664,6.515886,17652.628540,20.948442,0.836500,0.321971,249.827684,759.629613,...,6.925886,0.434478,0.126576,147.730751,350.984434,7.925312,2024.0,female,fish,30-39
2,fish_female_40-49,500.5,4.927040,6.540682,17729.964756,20.713798,0.841106,0.320413,252.846922,748.488755,...,6.733437,0.455165,0.128772,156.433538,350.627288,8.131584,1689.0,female,fish,40-49
3,fish_female_50-59,500.5,4.944320,6.566172,18446.193259,20.989284,0.834881,0.323892,246.789912,788.932276,...,7.751550,0.468678,0.129589,152.830237,420.222385,8.578845,946.0,female,fish,50-59
4,fish_female_60-69,500.5,5.103823,6.866635,18922.366831,21.569322,0.879670,0.336023,258.645759,819.856604,...,7.400676,0.486861,0.134746,163.020137,413.198002,8.663941,492.0,female,fish,60-69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,veggie_male_30-39,500.5,4.807758,6.787163,16603.476202,18.988080,0.811991,0.316326,266.148897,594.307015,...,6.677684,0.506769,0.137472,175.121990,267.344494,9.331239,1221.0,male,veggie,30-39
68,veggie_male_40-49,500.5,4.610379,6.610474,16477.661724,18.275813,0.764687,0.304605,251.351926,576.240665,...,6.434835,0.474374,0.133076,163.537692,261.457254,8.565340,961.0,male,veggie,40-49
69,veggie_male_50-59,500.5,4.455095,6.522068,16333.409315,17.619071,0.733031,0.299523,244.248429,559.640001,...,6.296666,0.469605,0.133225,162.816253,257.438657,8.310075,426.0,male,veggie,50-59
70,veggie_male_60-69,500.5,4.444844,6.628730,16725.207750,17.543012,0.738550,0.305724,248.603854,566.825960,...,6.148243,0.463256,0.130636,164.801151,267.844203,8.227252,229.0,male,veggie,60-69
71,veggie_male_70-79,500.5,4.612451,6.842653,17972.881279,18.283813,0.794673,0.319633,259.421351,602.571533,...,6.847723,0.499923,0.146075,176.067058,316.254523,8.917028,158.0,male,veggie,70-79

In [78]:
df_mean.to_csv('df_mean.csv',index=False)